@import "./partials/reset";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/index";
@import "./partials/contact";
@import "./partials/news";
@import "./partials/games";
@import "./partials/reviews";
@import "./partials/FAQ";
@import "./partials/follow";
@import "./partials/gridComun";
@import "./partials/mediaQueries";