*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(74, 74, 74);
    background-image: url(../imagenes/joystick.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 50%;
    background-position-y: 220px;
}                           
.headerh1{                  /*header en comun de todas la paginas (inicio)*/
    color: rgb(0, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-block-end: 0px;
    font-style: italic;
}
.headerh1, .headerlogo{
    display: inline-block;
    padding-inline-start: 10px;
    padding-top: 10px;
}
.headerlogo{
    width: 150px;
    height: 150px;
}
.menu{
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}
.menu__list{
    list-style: none;
    padding: 5px 10px;
}
.menu__list li{
    display: inline-block;
}
.menu__list a{
    color: greenyellow;
    text-decoration: none;
}                           /*header en comun de todas la paginas (fin)*/
.h2news{                    /*index (inicio)*/
    color: rgb(50, 175, 175);
    padding: 10px;
    border-bottom: solid black 2px;
}
.news1, .news2, .news3, .news4{
    display: inline-block;
    margin: 10px 30px;
    color: white;
    text-align: center;
}
.recentGames h2{
    color: rgb(81, 81, 173);
    padding: 10px;
    border-bottom: solid black 2px;
}
.recentGames__img{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.yearsGames__img{
    padding: 10px 0px 10px 20px;
}
.yearsGames h2{
    color: rgb(163, 104, 163);
    padding: 10px;
    border-bottom: solid black 2px;
}
.gamesTable th{
    color: rgb(246, 162, 243);
}
.gamesTable td{
    color: white;
    padding: 20px;
}
.gamesTable{
    padding: 0px 0px 10px 20px; 
}
.home{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "news yearsGamesp"
                         "recentGames yearsGamesp";
}
.recentNews{
    grid-area: news;
    border-right: solid black 4px;
    border-bottom: solid black 4px;
}
.recentNews__news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.recentGames{
    grid-area: recentGames;
    border-right: solid black 4px;
}
.yearsGamesP{
    grid-area: yearsGamesp;
}                           /*index (fin)*/
.footerMenu{                /*footer en comun para todas la paginas (inicio)*/
    padding: 10px;
    
}
.footerMenu a, .footerMenu{
    color: white;
    text-decoration: none;
}                           /*footer en comun para todas la paginas (fin)*/
.h2Contact{                 /*contact (inicio)*/
    color: rgb(147, 137, 200);
    padding: 10px;
}
.contactForm{
    color: white;
    padding: 10px 10px 10px 20px;
}
.userName{
    margin-left: 40px;
    margin-bottom: 2px;
}
.lastName{
    margin-left: 12px;
    margin-bottom: 2px;
}
.userMail{
    margin-left: 48px;
    margin-bottom: 2px;
}
.userGame{
    margin-left: 40px;
    margin-bottom: 2px;
}
.aboutGame{
    margin-left: 38px;
    margin-bottom: 2px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hrcontact{
    width: 300px;
}
                           /*contact (fin)*/
.newsWeek{                  /*news (inicio)*/
    color: rgb(79, 198, 198);
    padding: 10px;
}
.newsMonth{
    color: rgb(34, 136, 177);
    padding: 10px;
}
.newsMonth1, .newsMonth2, .newsMonth3, .newsMonth4, .newsMonth5{
    display: inline-block;
    margin: 10px 30px;
    color: white;
    text-align: center;
}
.newsYear{
    color: rgb(40, 86, 185);
    padding: 10px;
}
.newsYear1, .newsYear2, .newsYear3, .newsYear4, .newsYear5{
    display: inline-block;
    margin: 10px 30px;
    color: white;
    text-align: center;
}

                            /*news (fin)*/
.topGamesh2{                /*games (inicio)*/
    color: rgb(78, 182, 78);
    padding: 10px;
}
.topGames1 img, .topGames2 img, .topGames3 img, 
.topGames4 img, .topGames5 img, .topGames6 img, .topGames7 img{
    width: 139px;
    height: 186px;
    padding: 10px;
}
.topGames1, .topGames2, .topGames3, 
.topGames4, .topGames5, .topGames6, .topGames7{
    display: inline-block;
    color: white;
    text-align: center;
}
.topGames{
    padding-bottom: 10px;
}
.allGamesh2{
    color: rgb(58, 141, 58);
    padding: 10px;
}
.allGames1 img, .allGames2 img, .allGames3 img, .allGames4 img, 
.allGames5 img, .allGames6 img, .allGames7 img, .allGames8 img, 
.allGames9 img, .allGames10 img, .allGames11 img, .allGames12 img, 
.allGames13 img, .allGames14 img, .allGames15 img, .allGames16 img, 
.allGames17 img{
    width: 139px;
    height: 186px;
    padding: 10px;
}
.allGames1, .allGames2, .allGames3, .allGames4, 
.allGames5, .allGames6, .allGames7, .allGames8, 
.allGames9, .allGames10, .allGames11, .allGames12, 
.allGames13, .allGames14, .allGames15, .allGames16, 
.allGames17{
    display: inline-block;
    color: white;
    text-align: center;
}
.allGames{
    padding-bottom: 10px;
}                           /*games (fin)*/
.revh2{                     /*reviews (inicio)*/
    color: rgb(169, 48, 48);
    padding: 10px;
    border-bottom: solid black 4px;
}
.gamesRev img{
    width: 139px;
    height: 186px;
    padding: 10px;
}
.gamesRev h3{
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
}
.gamesRev h4, .gamesRev p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: rosybrown;
}
.gamesRev{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto auto auto;
    grid-template-areas: "b1 codw codbo2"
                         "codmw csgo eldenring"
                         "farcry6 gtav zelda"
                         "lostark mgs3 minecraft"
                         "rainbow rdr2 uncharted4"
                         "valorant witcher none";
}
.gamesRev_b1{
    grid-area: b1;
    border-bottom: solid black 4px;
}
.gamesRev_codw{
    grid-area: codw;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
}
.gamesRev_codbo2{
    grid-area: codbo2;
    border-bottom: solid black 4px;
}
.gamesRev_codmw{
    grid-area: codmw;
    border-bottom: solid black 4px;
}
.gamesRev_csgo{
    grid-area: csgo;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
}
.gamesRev_eldenring{
    grid-area: eldenring;
    border-bottom: solid black 4px;
}
.gamesRev_farcry6{
    grid-area: farcry6;
    border-bottom: solid black 4px;
}
.gamesRev_gtav{
    grid-area: gtav;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
}
.gamesRev_zelda{
    grid-area: zelda;
    border-bottom: solid black 4px;
}
.gamesRev_lostark{
    grid-area: lostark;
    border-bottom: solid black 4px;
}
.gamesRev_mgs3{
    grid-area: mgs3;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
}
.gamesRev_minecraft{
    grid-area: minecraft;
    border-bottom: solid black 4px;
}
.gamesRev_rainbow{
    grid-area: rainbow;
    border-bottom: solid black 4px;
}
.gamesRev_rdr2{
    grid-area: rdr2;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
}
.gamesRev_uncharted4{
    grid-area: uncharted4;
    border-bottom: solid black 4px;
}
.gamesRev_valorant{
    grid-area: valorant;
    border-bottom: solid black 4px;
}
.gamesRev_witcher{
    grid-area: witcher;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
}
                           /*reviews (fin)*/
.faqh2{                     /*FAQ (inicio)*/
    color: yellow;
    padding: 10px;
}
.faq{
    color: rgb(255, 255, 169);
}
.faq p, .faq h3{
    padding: 10px;
}
.faq p{
    padding-left: 40px;
}
.hrfaq{
    width: 250px;
}                           /*FAQ (fin)*/
.followh2{                  /*follow (inicio)*/
    color: rgb(64, 224, 160);
    padding: 10px;
}
.follow__main{
    color: rgb(40, 255, 136);
    padding: 10px;
}
.follow__second{
    color: rgb(15, 176, 88);
    padding: 10px;
}
.follow img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
.follow a{
    text-decoration: none;
}                           /*follow (fin)*/
                            /*grid en comun (inicio)*/
body{
    display: grid;
    grid-template-rows: 1fr auto 35px;
    grid-template-columns: auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
                            /*grid en comun (fin)*/

            /*media queries*/

@media screen and (min-width: 320px) and (max-width: 480px){ /*mobile*/
            /*media querie header (inicio)*/
    .headerlogo{
        display: none;          
    }
    .headerh1{
        font-size: 50px;
    }
            /*media querie header (fin)*/
            /*media querie index (inicio)*/
    .news1, .news2, .news3, .news4{
        margin: 10px;
    }
    .recentNews p{
        display: none;
    }
    .recentGames{
        border-bottom: solid black 4px;
    }
    .gamesTable td{
        padding: 10px;
    }
    .gamesTable li{
        list-style: none;
    }
    .gamesTable{
        padding-left: 5px;
    }
    .tdCopiesSold{
        display: none;
    }
    .home{
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "news"
                         "recentGames" 
                         "yearsGamesp";
    }
            /*media querie index (fin)*/
            /*media querie reviews (inicio)*/
    .gamesRev{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "b1" "codw" "codbo2"
                             "codmw" "csgo" "eldenring"
                             "farcry6" "gtav" "zelda"
                             "lostark" "mgs3" "minecraft"
                             "rainbow" "rdr2" "uncharted4"
                             "valorant" "witcher" "none";
    }
    .gamesRev div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid black 4px;
        border-right: none;
        border-left: none;
    }
    .gamesRev img, .gamesRev h3, .gamesRev p{
        padding: 10px;
    }
            /*media querie reviews (fin)*/
}
