*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(74, 74, 74);
}                       
.headerh1{                  /*header en comun de todas la paginas (inicio)*/
    color: rgb(0, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-block-end: 0px;
    font-style: italic;
}
.headerh1, .headerlogo{
    padding-inline-start: 10px;
    padding-top: 10px;
}
.headerlogo{
    width: 150px;
    height: 150px;
}
.logoH1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.menu__list a{
    color: greenyellow;
}                           /*header en comun de todas la paginas (fin)*/
.h2news{                    /*index (inicio)*/
    color: rgb(50, 175, 175);
    padding: 10px;
    border-bottom: solid black 2px;
}
.news1, .news2, .news3, .news4{
    margin: 10px 40px;
    position: relative;
    display: flex;
    align-items: center;
}
.news__text{ /*transicion*/
    color: white;
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    transform: scale(1.5);
    opacity: 0;
}
.news__text:hover{
    transform: scale(1);
    opacity: 1;
}
.recentGames h2{
    color: rgb(81, 81, 173);
    padding: 10px;
    border-bottom: solid black 2px;
}
.recentGames__img{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img_valorant, .img_csgo, .img_codw{
    transform: scalex(1);
    transition: all 0.3s;  
}
.img_valorant:hover, .img_csgo:hover, .img_codw:hover{
    transform: scale(1.2);
    
}
.yearsGames__img{
    padding: 10px;
}
.yearsGames h2{
    color: rgb(163, 104, 163);
    padding: 10px;
    border-bottom: solid black 2px;
}
.home{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "news yearsGamesp"
                         "recentGames yearsGamesp";
    margin-bottom: 10px;
}
.recentNews{
    grid-area: news;
    border-right: solid black 4px;
    border-bottom: solid black 4px;
}
.recentNews__news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.recentGames{
    grid-area: recentGames;
    border-right: solid black 4px;
    border-bottom: solid black 4px;
}
.yearsGamesP{
    grid-area: yearsGamesp;
    border-bottom: solid black 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
                            /*index (fin)*/
.footerMenu{                /*footer en comun para todas la paginas (inicio)*/
    padding: 10px;
    padding-top: 0px;
}
.footerMenu a, .footerMenu{
    color: white;
    text-decoration: none;
}                           /*footer en comun para todas la paginas (fin)*/
.h2Contact{                 /*contact (inicio)*/
    color: rgb(147, 137, 200);
    padding: 10px;
    padding-bottom: 0px;
}
.contactForm{
    color: white;
    padding: 10px 10px 10px 20px;
}
.userName{
    margin-left: 40px;
    margin-bottom: 2px;
}
.lastName{
    margin-left: 11px;
    margin-bottom: 2px;
}
.userMail{
    margin-left: 52px;
    margin-bottom: 2px;
}
.userGame{
    margin-left: 41px;
    margin-bottom: 2px;
}
.aboutGame{
    margin-left: 38px;
    margin-bottom: 2px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hrcontact{
    width: 300px;
}
                           /*contact (fin)*/
.newsWeek{                  /*news (inicio)*/
    color: rgb(79, 198, 198);
    padding: 10px;
}
.newsMonth{
    color: rgb(34, 136, 177);
    padding: 10px;
}
.news_1, .news_2, .news_3, .news_4{
    display: inline-block;
    margin: 10px 20px;
    color: white;
    text-align: center
}
.newsMonth1, .newsMonth2, .newsMonth3, .newsMonth4, .newsMonth5{
    display: inline-block;
    margin: 10px 20px;
    color: white;
    text-align: center;
}
.newsYear{
    color: rgb(40, 86, 185);
    padding: 10px;
}
.newsYear1, .newsYear2, .newsYear3, .newsYear4, .newsYear5{
    display: inline-block;
    margin: 10px 20px;
    color: white;
    text-align: center;
}

                            /*news (fin)*/
.topGamesh2{                /*games (inicio)*/
    color: rgb(78, 182, 78);
    padding: 10px;
}
.topGames1 img, .topGames2 img, .topGames3 img, 
.topGames4 img, .topGames5 img, .topGames6 img, .topGames7 img{
    width: 139px;
    height: 186px;
}
.topGames__img{
    object-fit: contain;
}
.allGamesh2{
    color: rgb(58, 141, 58);
    padding: 10px;
}
.allGames1 img, .allGames2 img, .allGames3 img, .allGames4 img, 
.allGames5 img, .allGames6 img, .allGames7 img, .allGames8 img, 
.allGames9 img, .allGames10 img, .allGames11 img, .allGames12 img, 
.allGames13 img, .allGames14 img, .allGames15 img, .allGames16 img, 
.allGames17 img{
    width: 139px;
    height: 186px;
    padding: 10px;
}
.allGames1, .allGames2, .allGames3, .allGames4, 
.allGames5, .allGames6, .allGames7, .allGames8, 
.allGames9, .allGames10, .allGames11, .allGames12, 
.allGames13, .allGames14, .allGames15, .allGames16, 
.allGames17{
    display: inline-block;
    color: white;
    text-align: center;
}
.allGames{
    padding-bottom: 10px;
}                           /*games (fin)*/
.revh2{                     /*reviews (inicio)*/
    color: rgb(169, 48, 48);
    padding: 10px;
    border-bottom: solid black 4px;
}
.gamesRev img{
    width: 139px;
    height: 186px;
    padding: 10px;
}
.gamesRev h3{
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
.gamesRev h4, .gamesRev p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: white;
}
.gamesRev{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto auto auto;
    grid-template-areas: "b1 codw codbo2"
                         "codmw csgo eldenring"
                         "farcry6 gtav zelda"
                         "lostark mgs3 minecraft"
                         "rainbow rdr2 uncharted4"
                         "valorant witcher none";
}
.gamesRev_b1{
    grid-area: b1;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_codw{
    grid-area: codw;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_codbo2{
    grid-area: codbo2;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_codmw{
    grid-area: codmw;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_csgo{
    grid-area: csgo;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_eldenring{
    grid-area: eldenring;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_farcry6{
    grid-area: farcry6;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_gtav{
    grid-area: gtav;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_zelda{
    grid-area: zelda;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_lostark{
    grid-area: lostark;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_mgs3{
    grid-area: mgs3;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_minecraft{
    grid-area: minecraft;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_rainbow{
    grid-area: rainbow;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_rdr2{
    grid-area: rdr2;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_uncharted4{
    grid-area: uncharted4;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_valorant{
    grid-area: valorant;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_witcher{
    grid-area: witcher;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev__img{
    display: flex;
    flex-direction: column;
    align-items: center
}
.gamesRev__text{ /*tensicion*/
    text-align: center;
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s;
}
.gamesRev__text:hover{
    transform: scale(0.6);
    opacity: 1;
    background: rgba(73, 73, 73, 0.813);
}

                           /*reviews (fin)*/
.faqh2{                     /*FAQ (inicio)*/
    color: yellow;
    padding: 10px;
    padding-bottom: 0px;
}
.faq{
    color: rgb(255, 255, 169);
    background-color: transparent;
}
.faq .accordion{
    --bs-accordion-bg: transparent;
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: rgb(255, 255, 169);
    --bs-accordion-border-color: rgb(255, 255, 169);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem yellow;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-color: rgb(255, 255, 169);
    margin-left: 5px;
    margin-right: 5px;
}
.faq .accordion-item {
    color: rgb(255, 255, 169);
}
.faq p, .faq h3{
    padding: 10px;
}
.faq p{
    padding-left: 40px;
}
.hrfaq{
    width: 250px;
}                           /*FAQ (fin)*/
.followh2{                  /*follow (inicio)*/
    color: rgb(64, 224, 160);
    text-align: center;
    padding-top: 10px;
}
.follow__main{
    color: rgb(40, 255, 136);
    text-align: center;
}
.follow__second h3{
    color: rgb(15, 176, 88);
    text-align: center;
}
.follow img{
    width: 95px;
    height: 95px;
    padding: 5px;
}
.follow h3{
    margin-bottom: 0px;
}
.follow a{
    text-decoration: none;
}
.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
                           /*follow (fin)*/
                            /*grid en comun (inicio)*/
body{
    display: grid;
    grid-template-rows: 1fr auto 35px;
    grid-template-columns: auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
header{
    grid-area: header;
    background: rgb(46,46,46);
    background: linear-gradient(180deg, rgba(46,46,46,1) 0%, rgba(75,75,75,1) 24%, rgba(75,75,75,1) 100%, rgba(46,46,46,1) 100%);
}
main{
    grid-area: main;
    background: rgb(46,46,46);
    background: linear-gradient(180deg, rgba(46,46,46,1) 0%, rgba(75,75,75,1) 12%, rgba(75,75,75,1) 100%, rgba(46,46,46,1) 100%);
}
footer{
    grid-area: footer;
}
                            /*grid en comun (fin)*/

            /*media queries*/

@media screen and (min-width: 320px) and (max-width: 480px){ /*mobile*/
            /*media querie header (inicio)*/
    .headerlogo{
        display: none;          
    }
    .headerh1{
        font-size: 50px;
    }
            /*media querie header (fin)*/
            /*media querie index (inicio)*/
    .news1, .news2, .news3, .news4{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news__text{
        color: white;
        text-align: center;
        transform: scale(1);
        opacity: 1;
    }
    .recentNews p{
        display: none;
    }
    .recentGames{
        border-bottom: solid black 4px;
    }
    .recentGames img{
        width: 90px;  
        height: 137px;
    }
    .tdCopiesSold{
        display: none;
    }
    .home{
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "news"
                         "recentGames" 
                         "yearsGamesp";
    }
    .yearsGamesP iframe{
        width: auto;
        height: auto;
    }
            /*media querie index (fin)*/
            /*media querie reviews (inicio)*/
    .gamesRev{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "b1" "codw" "codbo2"
                             "codmw" "csgo" "eldenring"
                             "farcry6" "gtav" "zelda"
                             "lostark" "mgs3" "minecraft"
                             "rainbow" "rdr2" "uncharted4"
                             "valorant" "witcher" "none";
    }
    .gamesRev div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid black 4px;
        border-right: none;
        border-left: none;
    }
    .gamesRev img, .gamesRev h3, .gamesRev p{
        padding: 10px;
    }
    .gamesRev__text{
        opacity: 1;
        position: relative;
        transform: scale(1);
    }
            /*media querie reviews (fin)*/
}
@media screen and (min-width: 481px) and (max-width: 991px){ /*tablet*/
            /*media querie reviews (inicio)*/
    .gamesRev{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "b1" "codw" "codbo2"
                             "codmw" "csgo" "eldenring"
                             "farcry6" "gtav" "zelda"
                             "lostark" "mgs3" "minecraft"
                             "rainbow" "rdr2" "uncharted4"
                             "valorant" "witcher" "none";
    }
    .gamesRev div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid black 4px;
        border-right: none;
        border-left: none;
    }
    .gamesRev img, .gamesRev h3, .gamesRev p{
        padding: 10px;
    }
    .gamesRev__text{
        opacity: 1;
        position: relative;
        transform: scale(1);
    }
            /*media querie reviews (fin)*/
}