.h2Contact{                 /*contact (inicio)*/
    color: rgb(147, 137, 200);
    padding: 10px;
    padding-bottom: 0px;
}
.contactForm{
    color: white;
    padding: 10px 10px 10px 20px;
}
.colorformname{
    background-color: #89859d;
}
.colorforminput{
    background-color: #cec9e5;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hrcontact{
    width: 300px;
}
                           /*contact (fin)*/