.h2Contact{                 /*contact (inicio)*/
    color: rgb(147, 137, 200);
    padding: 10px;
    padding-bottom: 0px;
}
.contactForm{
    color: white;
    padding: 10px 10px 10px 20px;
}
.userName{
    margin-left: 40px;
    margin-bottom: 2px;
}
.lastName{
    margin-left: 11px;
    margin-bottom: 2px;
}
.userMail{
    margin-left: 52px;
    margin-bottom: 2px;
}
.userGame{
    margin-left: 41px;
    margin-bottom: 2px;
}
.aboutGame{
    margin-left: 38px;
    margin-bottom: 2px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hrcontact{
    width: 300px;
}
                           /*contact (fin)*/