.footerMenu{                /*footer en comun para todas la paginas (inicio)*/
    text-align: center;
    color: white;
    padding: 10px;
    a{
        color: white;
        text-decoration: none;
    }
}                         /*footer en comun para todas la paginas (fin)*/