                            /*grid en comun (inicio)*/
body{
    display: grid;
    grid-template-rows: 1fr auto 35px;
    grid-template-columns: auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    background-color: rgb(74, 74, 74)
}
header{
    grid-area: header;
    background: rgb(46,46,46);
    background: linear-gradient(180deg, rgba(46,46,46,1) 0%, rgba(75,75,75,1) 24%, rgba(75,75,75,1) 100%, rgba(46,46,46,1) 100%);
}
main{
    grid-area: main;
    background: rgb(46,46,46);
    background: linear-gradient(180deg, rgba(46,46,46,1) 0%, rgba(75,75,75,1) 12%, rgba(75,75,75,1) 100%, rgba(46,46,46,1) 100%);
}
footer{
    grid-area: footer;
    background-color: rgb(74, 74, 74);
    hr{
        margin: 0px;
    }
}
                            /*grid en comun (fin)*/