/*header en comun de todas la paginas (inicio)*/
body{
    background-color: rgb(74, 74, 74);
}
$textoHeader: (
    color: rgb(0, 255, 0),
    fuenteT: 70px,
    estiloF: italic,
);
.headerh1{
    color: map-get($textoHeader, color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: map-get($textoHeader, fuenteT);
    margin-block-end: 0px;
    font-style: map-get($textoHeader, estiloF);
}
.headerh1, .headerlogo{
    padding-inline-start: 10px;
    padding-top: 10px;
}
.headerlogo{
    width: 150px;
    height: 150px;
}
.logoH1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.menu__list a{
    color: greenyellow;
}                           /*header en comun de todas la paginas (fin)*/