/*header en comun de todas la paginas (inicio)*/
body{
    background-color: rgb(74, 74, 74);
}
.headerh1{
    color: rgb(0, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-block-end: 0px;
    font-style: italic;
}
.headerh1, .headerlogo{
    padding-inline-start: 10px;
    padding-top: 10px;
}
.headerlogo{
    width: 150px;
    height: 150px;
}
.logoH1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.menu__list a{
    color: greenyellow;
}                           /*header en comun de todas la paginas (fin)*/