.h2news{                    /*index (inicio)*/
    color: rgb(50, 175, 175);
    padding: 10px;
    border-bottom: solid black 2px;
}
.news1, .news2, .news3, .news4{
    margin: 10px 40px;
    position: relative;
    display: flex;
    align-items: center;
}
.news__text{ /*transicion*/
    color: white;
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    transform: scale(1.5);
    opacity: 0;
}
.news__text:hover{
    transform: scale(1);
    opacity: 1;
}
.recentGames h2{
    color: rgb(81, 81, 173);
    padding: 10px;
    border-bottom: solid black 2px;
}
.recentGames__img{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img_valorant, .img_csgo, .img_codw{
    transform: scalex(1);
    transition: all 0.3s;  
}
.img_valorant:hover, .img_csgo:hover, .img_codw:hover{
    transform: scale(1.2);
    
}
.yearsGames__img{
    padding: 10px;
}
.yearsGames h2{
    color: rgb(163, 104, 163);
    padding: 10px;
    border-bottom: solid black 2px;
}
.video{
    width: 560px;
    height: 315px;
}
$bordeN: (
    Bblack: solid black 4px,
);
.home{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "news yearsGamesp"
                         "recentGames yearsGamesp";
    margin-bottom: 10px;
}
.recentNews{
    grid-area: news;
    border-right: map-get($bordeN, Bblack);
    border-bottom: map-get($bordeN, Bblack);
}
.recentNews__news{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.recentGames{
    grid-area: recentGames;
    border-right: map-get($bordeN, Bblack);
    border-bottom: map-get($bordeN, Bblack);
}
.yearsGamesP{
    grid-area: yearsGamesp;
    border-bottom: map-get($bordeN, Bblack);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
                            /*index (fin)*/