            /*media queries*/
            
@media screen and (min-width: 320px) and (max-width: 480px){ /*mobile*/
            /*media querie header (inicio)*/
    .headerlogo{
        display: none;          
    }
    .headerh1{
        font-size: 50px;
    }
            /*media querie header (fin)*/
            /*media querie index (inicio)*/
    .news1, .news2, .news3, .news4{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news__text{
        color: white;
        text-align: center;
        transform: scale(1);
        opacity: 1;
        background: rgba(73, 73, 73, 0.813);
    }
    .recentNews p{
        display: none;
    }
    .recentGames{
        border-bottom: solid black 4px;
    }
    .recentGames img{
        width: 90px;  
        height: 137px;
    }
    .tdCopiesSold{
        display: none;
    }
    .home{
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "news"
                         "recentGames" 
                         "yearsGamesp";
    }
    .yearsGamesP iframe{
        width: auto;
        height: auto;
    }
            /*media querie index (fin)*/
            /*media querie reviews (inicio)*/
    .gamesRev{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "b1" "codw" "codbo2"
                             "codmw" "csgo" "eldenring"
                             "farcry6" "gtav" "zelda"
                             "lostark" "mgs3" "minecraft"
                             "rainbow" "rdr2" "uncharted4"
                             "valorant" "witcher" "none";
    }
    .gamesRev div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid black 4px;
        border-right: none;
        border-left: none;
    }
    .gamesRev img, .gamesRev h3, .gamesRev p{
        padding: 10px;
    }
    .gamesRev__text{
        opacity: 1;
        position: relative;
        transform: scale(1);
    }
            /*media querie reviews (fin)*/
}
@media screen and (min-width: 481px) and (max-width: 991px){ /*tablet*/
            /*media querie reviews (inicio)*/
    .gamesRev{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "b1" "codw" "codbo2"
                             "codmw" "csgo" "eldenring"
                             "farcry6" "gtav" "zelda"
                             "lostark" "mgs3" "minecraft"
                             "rainbow" "rdr2" "uncharted4"
                             "valorant" "witcher" "none";
    }
    .gamesRev div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid black 4px;
        border-right: none;
        border-left: none;
    }
    .gamesRev img, .gamesRev h3, .gamesRev p{
        padding: 10px;
    }
    .gamesRev__text{
        opacity: 1;
        position: relative;
        transform: scale(1);
    }
            /*media querie reviews (fin)*/
}