.newsWeek{                  /*news (inicio)*/
    color: rgb(79, 198, 198);
    padding: 10px;
    text-align: center;
}
.newsMonth{
    color: rgb(34, 136, 177);
    padding: 10px;
    text-align: center;
}
.news_1, .news_2, .news_3, .news_4{
    display: inline-block;
    margin: 10px 20px;
    color: white;
    text-align: center
}
.newsMonth1, .newsMonth2, .newsMonth3, .newsMonth4, .newsMonth5{
    display: inline-block;
    margin: 10px 20px;
    color: white;
    text-align: center;
}
.newsYear{
    color: rgb(40, 86, 185);
    padding: 10px;
    text-align: center;
}
.newsYear1, .newsYear2, .newsYear3, .newsYear4, .newsYear5{
    display: inline-block;
    margin: 10px 20px;
    color: white;
    text-align: center;
}

                            /*news (fin)*/