.revh2{                     /*reviews (inicio)*/
    color: rgb(169, 48, 48);
    padding: 10px;
    border-bottom: solid black 4px;
}
.gamesRev img{
    width: 139px;
    height: 186px;
    padding: 10px;
}
.gamesRev h3{
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
.gamesRev h4, .gamesRev p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: white;
}
.gamesRev{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: auto auto auto;
    grid-template-areas: "b1 codw codbo2"
                         "codmw csgo eldenring"
                         "farcry6 gtav zelda"
                         "lostark mgs3 minecraft"
                         "rainbow rdr2 uncharted4"
                         "valorant witcher none";
}
.gamesRev_b1{
    grid-area: b1;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_codw{
    grid-area: codw;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_codbo2{
    grid-area: codbo2;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_codmw{
    grid-area: codmw;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_csgo{
    grid-area: csgo;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_eldenring{
    grid-area: eldenring;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_farcry6{
    grid-area: farcry6;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_gtav{
    grid-area: gtav;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_zelda{
    grid-area: zelda;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_lostark{
    grid-area: lostark;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_mgs3{
    grid-area: mgs3;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_minecraft{
    grid-area: minecraft;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_rainbow{
    grid-area: rainbow;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_rdr2{
    grid-area: rdr2;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_uncharted4{
    grid-area: uncharted4;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_valorant{
    grid-area: valorant;
    border-bottom: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev_witcher{
    grid-area: witcher;
    border-bottom: solid black 4px;
    border-right: solid black 2px;
    border-left: solid black 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesRev__img{
    display: flex;
    flex-direction: column;
    align-items: center
}
.gamesRev__text{ /*tensicion*/
    text-align: center;
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s;
}
.gamesRev__text:hover{
    transform: scale(0.6);
    opacity: 1;
    background: rgba(73, 73, 73, 0.813);
}

                           /*reviews (fin)*/